<div class="container bg-info rounded my-2">
    <h1 class="text-center">{{ user?.firstName }} {{ user?.lastName }}</h1>
    <form #userForm="ngForm" name="form">
      <div class="mb-3">
          <label class="form-label">Voornaam</label>
          <input type="text" name="firstName" class="form-control" [(ngModel)]="userFirstName">
        </div>
        <div class="mb-3">
          <label class="form-label">Achternaam</label>
          <input type="text" class="form-control" name="lastName" [(ngModel)]="userLastName">
        </div>
      <div class="mb-3">
        <label class="form-label">Email</label>
        <input type="email" class="form-control" aria-describedby="emailHelp" name="email" [(ngModel)]="userEmail">
      </div>
      <a type="submit" routerLink="../../" (click)="onSubmit()" class=" bg-grey btn btn-dark ">Aanpassen</a>
    </form>
      <br>
</div>
