<div class="container bg-info rounded my-2">
    <br />
    <h1 class="text-center my-4">{{ studenthome?.name}}</h1>
    <ul class="list-group list-group-flush rounded">
      <li class="list-group-item bg-grey">Straatnaam: {{ studenthome?.streetName }}</li>
      <li class="list-group-item bg-grey">Huisnummer: {{ studenthome?.houseNumber }}</li>
      <li class="list-group-item bg-grey">Postcode: {{ studenthome?.postalCode }}</li>
      <li class="list-group-item bg-grey">Plaats: {{ studenthome?.residence }} </li>
      <li class="list-group-item bg-grey">Telefoonnummer: {{ studenthome?.phoneNumber }}</li>
    </ul>
    <br />
  </div>
