<div class="container card mt-4">
    <h1 class="my-2">Studenthomes</h1>
    <div class="row">
      <div *ngFor="let studenthome of studenthomes" class="col-sm-6 my-2">
        <div class="card">
          <div class="card-body">
            <div class="float-left">
            <h5 class="card-title">{{ studenthome.name }}</h5>
            <p class="card-text">
              {{ studenthome.streetName}} {{ studenthome.houseNumber }} {{ studenthome.residence }}<br>
              phonenumber: {{ studenthome.phoneNumber }}
            </p>
            </div>
            <div class="float-right mt-5">
            <a class="btn btn-info" routerLink="{{ studenthome.id }}">details</a>
            <a class=" btn btn-danger mx-2" (click)="onDelete(studenthome.id)">delete</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <a class="btn btn-info my-2 col-2 align-right" routerLink="new" aria-current="page">add</a>
    <br>
    </div>
