<nav class="navbar navbar-expand-lg navbar-dark bg-info mx-auto">
  <div class="container">
    <a class="navbar-brand" routerLink="studenthome">Navbar</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="studenthome"
            routerLinkActive="actieve-link"
            aria-current="page"
            >Studenthome</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link"
            routerLink="users"
            routerLinkActive="actieve-link"
            aria-current="page"
            >Users</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link">Meals</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="about" routerLinkActive="actieve-link"
            >About</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
