<div class="container bg-info rounded my-2">
    <br>
    <h1 class="text-center my-4">{{ user?.firstName }} {{ user?.lastName }}</h1>
    <ul class="list-group list-group-flush rounded">
        <li class="list-group-item  bg-grey">Voornaam: {{ user?.firstName }}</li>
        <li class="list-group-item  bg-grey">Achternaam: {{ user?.lastName }}</li>
        <li class="list-group-item  bg-grey">Geboortedatum: {{ user?.birthday}}</li>
        <li class="list-group-item  bg-grey">Studentnummer: {{ user?.studentNumber }}</li>
        <li class="list-group-item  bg-grey">Email: {{ user?.email}}</li>
      </ul>
      <a routerLink="edit" routerLinkActive="actieve-link" class=" bg-grey btn btn-dark my-2">bewerken</a>
      <br>
</div>
