<footer
  class="
    d-flex
    flex-wrap
    justify-content-between
    align-items-center
    py-3
    bg-info
    text-white
  "
>
  <p class="col-md-4 mb-0 mx-auto">&copy; 2021 Maarten de Zwart</p>
  <ul class="nav col-md-4 justify-content-end mx-auto">
    <li class="nav-item">
      <a routerLink="studenthome" class="nav-link px-2 text-white"
        >Studenthome</a
      >
    </li>
    <li class="nav-item">
      <a routerLink="users" class="nav-link px-2 text-white">Users</a>
    </li>
    <li class="nav-item"><a class="nav-link px-2 text-white">Meals</a></li>
    <li class="nav-item">
      <a routerLink="about" class="nav-link px-2 text-white">About</a>
    </li>
  </ul>
</footer>
